@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
* {
  padding: 0;
  margin: 0;
}
/* body {
  background-image: 
    url("../images/background-desktop.png"),   
    url("../images/pattern-squiggly-line-bottom-desktop.svg"), 
    url("../images/pattern-squiggly-line-top.svg"); 

  background-repeat: no-repeat, no-repeat, no-repeat;

  background-position: center, bottom left, top right;

  background-size: cover, auto, auto;
} */

html, body {
  min-height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

body {
  background-image: 
    url("../images/pattern-squiggly-line-bottom-desktop.svg"),
    url("../images/pattern-squiggly-line-top.svg"),
    url("../images/pattern-lines.svg"),
    url("../images/pattern-circle.svg"),
    url("../images/background-desktop.png");

  background-repeat: no-repeat, no-repeat,no-repeat, no-repeat, no-repeat;
  background-position: left -60px bottom 0px, top 50px right,center,right 250px center, center;
  background-size: auto, auto,auto,auto, cover;
}
#root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 30px;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.heading {
  color: hsl(0, 0%, 100%);
  margin: 50px auto 0 auto; /* top 50px, left/right auto */
  font-size: 60px;
  max-width: 850px;
  text-align: center;

}
.description {
  color: hsl(252, 6%, 83%);
  margin: 25px auto 0 auto; /* top 25px, left/right auto */
  font-size: 20px;
  text-align: center;

}
form {
    margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ⬅️ keeps form elements left-aligned */
  text-align: left;        /* ⬅️ ensures text inside isn’t centered */
}
label {
    color: hsl(252, 6%, 83%);
    font-size: 20px;
    margin-bottom:10px;
    margin-top: 20px;
}
.input {
    border: 2px solid hsl(245, 19%, 35%);
    width: 500px;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 20px;
    color: hsl(252, 6%, 83%);
    background-color: hsla(245, 19%, 35%, 0.5);
    /* margin-bottom: 20px; */
    box-sizing: border-box;
}
.input::placeholder {
    color: hsl(252, 6%, 83%);
    font-weight: 400;
}

.submit {
    border: 2px solid hsl(245, 19%, 35%);
    width: 500px;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    color: hsl(248, 70%, 10%);
    background-color: hsl(7, 88%, 67%);
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.avatar-upload {
    border: 2px dashed  hsl(245, 19%, 35%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    color: hsl(245, 19%, 35%);
    background-color: hsla(245, 19%, 35%, 0.5);
    /* margin-bottom: 10px; */
    margin-top: 20px;
    box-sizing: border-box;

}
.upload-buttons {
    display: none;
    gap: 20px;
}
.upload-buttons span {
    cursor: pointer;
    color: hsl(252, 6%, 83%);
    background-color: hsl(245, 19%, 35%);
    padding: 6px 12px;
    border-radius: 5px;
}
.avatar-upload img {
    background-color: hsl(245, 19%, 35%);
    border-radius: 10px;
    padding: 10px;
}
.avatar-preview {
    color: hsl(252, 6%, 83%);
    font-size: 12px;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.avatar-error {
    color: hsl(7, 71%, 60%);
    font-size: 12px;
    display: none;
    gap: 5px;
    margin-top: 5px;
}
.avatar-error img {

  filter: invert(38%) sepia(88%) saturate(3746%) hue-rotate(347deg) brightness(95%) contrast(96%);
}
.error {
  border: 2px solid hsl(7, 71%, 60%);
}
.avatar-preview-img {
  height: 30px;
  width: 30px;
  border: 1px solid hsl(252, 6%, 83%);
}



